/* @import url("https://fonts.googleapis.com/css?family=Cairo"); */
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css?family=Assistant:700&display=swap");

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: darkslategrey;
}

.intro {
    background-image: url("./cactus-background-small.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.inner {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.inner h3 {
    font-family: "Cairo", "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.17em;
    color: darkslategrey;
}

.content {
    margin: 10rem auto;
}

.content h1 {
    font-family: "Assistant", sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.0833333em;
    color: darkslategrey;
    word-wrap: normal;
    line-height: 1em;
    margin: 1.5em auto 0.3em;
}

.content .subTitle {
    color: darkslategrey;
    letter-spacing: 0.09em;
    font-family: "Arvo", serif;
    text-transform: uppercase;
    font-size: 120%;
}

.upperContent {
    margin: 2rem auto 0 auto;
}
